.basicInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 55%;
    gap: 10px;
}

.basicInfo .mainInfo{
    display: flex;
    align-items: start;
    gap: 20px;
}

.mainInfo .pImage{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.mainInfo .info{
    display: flex;
    flex-direction: column;
    height: 200px;
}


.name{
    font-size: 44px;
    font-weight:700;
    margin-bottom: 8px;
}

.job{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    opacity: 80%;
}

.locBox{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 24px;
}

.locBox img{
    width: 14px;
    height: 14px;
}

.locBox .location{
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
}

.summaryBox{
    max-width: 600px;
}

.summaryBox p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

.btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .name{
        font-size: 35px;
        font-weight:700;
        margin-bottom: 8px;
    }

    .job{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
        opacity: 80%;
    }
}

@media (max-width: 992px) {
    .basicInfo{
        width: 100%;
        margin-bottom: 20px;
    }
    .mainInfo .pImage{
    width: 180px;
    height: 180px;
    border-radius: 5px;
}
    .name{
        font-size: 30px;
    }

    .job{
        font-size: 15px;
    }
    .locBox .location{
    font-size: 12px;
}


.summaryBox p{
    font-size: 15px;
}

.info p{
    font-size: 15px;
}
}

@media (max-width: 576px){
    .mainInfo .pImage{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.mainInfo .info{
    height: auto;
    margin-bottom: 10px;
}


.name{
    font-size: 25px;
}

.job{
    font-size: 12px;
}


.locBox img{
    width: 10px;
    height: 10px;
}

.locBox{
    margin-bottom: 10px;
}

.locBox .location{
    font-size: 10px;
}

.basicInfo p{
    font-size: 12px;
}


.summaryBox p{
    font-size: 12px;
    line-height: 1.4;
}

.btns{
    width: 100%;
    gap: 5px;
}
}