.basicInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 55%;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
}


.name{
    font-size: 44px;
    font-weight:700;
    margin-bottom: 8px;
}

.job{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    opacity: 80%;
}

.locBox{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 24px;
}

.locBox img{
    width: 14px;
    height: 14px;
}

.locBox .location{
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
}

.summaryBox{
    max-width: 550px;
}

.summaryBox p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}