.main{
    width: 370px;
    border: .5px solid #0000002a;
    border-radius: 6px;
    padding: 20px;
}

.main .head{
    display: flex;
    align-items: center;
    border-bottom: .5px solid #0000002a;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 500;
}

.main .content{
    display: flex;
    align-items: start;
    gap: 10px;
    padding-left: 5px;
}


.content .info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.content .logo{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.content .degree{
    font-size: 14px;
}

.content .uni{
    font-size: 17px;
    font-weight: 500;
}

.content .date{
    font-size: 12px;
}

