.infoBox{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 24px;
}

.infoBox .eduSkills{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    display: flex;
}

@media (max-width: 992px) {
    .infoBox{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .infoBox .eduSkills{
        flex-direction: row;
    }
}