.linkButton{
    display: flex;
    align-items: center;
    gap: 5px; 
    border: .5px solid #00000010;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.linkButton:hover{
    background-color: #0000001a;
}

.linkButton img{
    width: 15px;
    height: 15px;
}

@media (max-width: 576px){
    .linkButton{
        font-size: 12px;
        padding: 4px 12px;
    }
    .linkButton img{
        width: 14px;
        height: 14x;
    }
}