.linkButton{
    display: flex;
    align-items: center;
    gap: 5px; 
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.linkButton img{
    width: 20px;
    height: 20px;
}