.card{
    flex-shrink: 0;
    width: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: .5px solid #0000002a;
    position: relative;
}

.card::after{
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px 6px 0 0;
    background-color: #0000003b;
    transition: .5s ease;
}

.card:hover::after {
    background-color: #00000000;
}

.card .img{
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card .info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card h2{
    font-size: 17px;
}

.card .skills{
    display: flex;
    align-items: center;
    gap: 10px;
}


.skills span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.card .info .status{
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    width: fit-content;
}