.card{
    flex-shrink: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: .5px solid #0000002a;
}

.card .img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card .info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card h2{
    font-size: 17px;
}

.card .skills{
    display: flex;
    align-items: center;
    gap: 10px;
}


.skills span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}