.card{
    flex-shrink: 0;
    width: 140px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: .5px solid #0000002a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.card .img{
    border-radius: 6px 6px 0 0;
    width: 70px;
    height: 70px;
    object-fit: contain;
}



.card h2{
    font-size: 15px;
}


@media (max-width: 992px) {
    .card{
    width: 120px;
    display: flex;
}


.card .img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}



.card h2{
    font-size: 13px;
}
}

@media (max-width: 576px){
    .card{
    flex-shrink: 0;
    width: 100px;
}


.card .img{
    width: 50px;
    height: 50px;
}



.card h2{
    font-size: 12px;
}
}