.container{
    min-height: 100vh ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.container::after{
    content: '';
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.main{
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    padding-top: 70px;
}

.main .projects{
    padding: 24px;
}

.projects .head{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.head span{
    font-size: 14px;
}

.head img{
    width: 10px;
    height: 10px;
}

@media (max-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 700px;
    }
    .head h1{
        font-size: 25px;
    }

    .head span{
    font-size: 12px;
}

.head img{
    width: 8px;
    height: 8px;
}
}

@media (max-width: 768px){
    .container{
        max-width: 100%;
        margin-bottom: 100px;
    }

    .container::after{
        display: none;
    }
    .main{
        border: none;
        padding: 0;
    }
}


@media (max-width: 576px){

    .head h1{
        font-size: 22px;
    }
    .head span{
    font-size: 11px;
    }

    .head img{
        width: 6px;
        height: 6px;
    }
}