.card{
    flex-shrink: 0;
    width: calc((100% - 30px) / 3);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: .5s ease;
}

.card::after{
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px 6px 0 0;
    background-color: #0000003b;
    transition: .5s ease;
}

.card:hover::after {
    background-color: #00000000;
}

.card:hover{
    transform: translateY(-6px);
}

.card .img{
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card .info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    justify-content: space-between;
}

.info .text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info .buttom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card h2{
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;
}

.card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #475569;
}

.card .skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}


.skills .skill,
.staBtn .status,
.staBtn .Btns span{
    border-radius: 6px;
    align-items: center;
    font-weight: 400;
    display: flex;
}

.skills .skill{
    color: #1f2933;
    justify-content: center;
    background-color: #0000000a;
    border: .5px solid #0000002a;
    padding: 3px 6px;
    font-size: 12px;
}

.staBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.staBtn .status{
    justify-content: center;
}

.staBtn .status,
.staBtn .Btns span{
    border: .5px solid #0000002a;
    padding: 4px;
    font-size: 14px;
}

.staBtn .Btns span{
    border: .5px solid #0000002a;
}

.staBtn .Btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.staBtn .Btns span{
    cursor: pointer;
}

.staBtn .Btns .live{
    display: flex;
    align-items: center;
    width: 90px;
    gap: 4px;
    padding: 4px 8px;
    margin: 0;
    background-color: #1E293B;
    color: white;
}

.Btns .live span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0;
}

.card .info .status{
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    width: fit-content;
}