.main{
    width: 60%;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    padding: 20px;
}

.main h1{
    font-size: 20px;
}

.main form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main form .group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.main form .bigGroup{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.bigGroup .subGroup{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 5px;
}

.main form label{
    font-size: 14px;
}

.main form input,
.main form textarea{
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    background-color: rgba(0, 0, 0, 0.075);
    outline: none;
    padding: 10px;
}

.main form input{
    height: 35px;
}

.main form button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: none;
    cursor: pointer;
    background-color: #1f2933;
    color: white;
    font-size: 16px;
    font-weight: 500;
}




@media (max-width: 768px){
    .main{
        width: 100%;
    }
}

