.container{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.container::after{
    content: '';
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.main{
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    padding-top: 70px;
}

.main .contact{
    padding: 24px;
}

.contact .head{
   display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.head h1{
    font-size: 40px;
}

.head span{
    font-size: 14px;
}

.head img{
    width: 10px;
    height: 10px;
}

.contact .body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}



@media (max-width: 992px) {
    .container{
        max-width: 700px;
    }
    .head h1{
    font-size: 25px;
}

.head span{
    font-size: 12px;
}

.head img{
    width: 8px;
    height: 8px;
}

}

