.main{
    flex: 1;
    height: 50px;
    background-color: #25d36557;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #25D366;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.main:hover{
    background-color: #25d3658a;
}