.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main .img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
}

.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btns button{
    flex: 1;
    padding: 7px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 550;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    background-color: #0000000a;
    transition: .5s ease;
}

.btns button:hover{
    background-color: white;
}

@media (max-width: 576px){
    .main{
        margin-bottom: 30px;
    }
    .btns button{
        font-size: 12px;
    }
    .btns span{
        font-size: 12px;
    }
}