.container{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.container::after{
    content: '';
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.main{
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    padding-top: 70px;
}

.main .projects{
    padding: 24px;
}

.projects .head{
    margin-bottom: 20px;
}


@media (max-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 700px;
    }

}

@media (max-width: 768px){
    .container{
        max-width: 100%;
        margin-bottom: 100px;
    }

    .container::after{
        display: none;
    }
    .main{
        border: none;
        padding: 0;
    }
}

