
:root {
  --background: #ffffff;
  --foreground: #1F2933;
  --font-inter: 'Inter', 'Inter Fallback', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

