.header{
    position: fixed;
    top: 10px;
    width: 1200px;
    height: 70px;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 24px;
    background-color: white;
    z-index: 1000;
}

.header nav{
    display: flex;
    align-items: center;
}

.header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header nav ul li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .header{
        width: 1000px;
    }
}

@media (max-width: 992px) {
    .header{
        width: 700px;
    }
    .header nav ul li{
    font-size: 15px;
}
}