.header{
    width: 100%;
    height: 70px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.164);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.header nav{
    display: flex;
    align-items: center;
}

.header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header nav ul li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

