.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 80px;
    right: 35px;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1),
            0 1px 2px rgba(0,0,0,0.06);
}

.main .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main .head img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.main h1{
    font-size: 16px;
    font-weight: 600;
}

.main p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}