.main{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.096);;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main .icon{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}